// Core Styles
// ============================================================

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}


// ========= Clearfix =========

.clearfix {
	zoom: 1;
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}


// ========= Body Global Styles =========

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	color: $base-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background-color: $base-bg;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	// font-weight: 300;
	@media #{$small} {
		padding: 1rem;
	}
}

main {
	@include clearfix;
}

// Link Styles

a {
	color: $primary;
	background: transparent;
	text-decoration: none;
	&:hover, &:focus, &:active {
		text-decoration: underline;
	}
	&:active, &:hover {
		outline: 0;
	}
	&:focus {
		outline: thin dotted;
	}
}

hr {
	height: rem-calc(2);
	background-color: darken($base-bg, 5%);
	border: none;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

abbr[title] {
	border-bottom: 1px dotted;
}

img {
	display: inline-block;
	max-width: 100%;
}

img, a img {
	border: 0;
}
a img {
	// transition: opacity 300ms;
}
a:hover img {
	opacity: 0.9;
}

figure {
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


// ========= Icon Styles =========

@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot');
	src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-ghost,
.icon-feed,
.icon-twitter,
.icon-google-plus,
.icon-facebook {
	&:before{
		font-family: 'icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		text-decoration: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.icon-ghost:before {
    content: "\e000";
}
.icon-feed:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e002";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-facebook:before {
    content: "\e004";
}


// ========= Site Head =========

.site-head {
	position: relative;
	width: 100%;
	text-align: center;
	color: $base-bg;
	background: $secondary no-repeat center center;
	background-size: cover;
	@include clearfix;

	.site-head-content {
		margin: 2rem 0 4rem 0;
	}

	.blog-logo {
		text-decoration: none;
		img {
			display: block;
			width: auto;
			margin: 0 auto;
		}
	}

	h1.blog-title {
		font-weight: 300;
		font-family: $header-font-family;
		color: $base-color;
		letter-spacing: 0.08em;
	}

	h2.blog-description {
		font-size: 1.125rem;
		font-weight: 300;
		letter-spacing: 0.04em;
		font-family: $base-font-family;
		color: $base-bg;
	}
}


// ========= Posts =========

.post {
	word-break: break-word;
	hyphens: auto;
	margin-top: 4rem;
	margin-bottom: 4rem;
	padding-top:4rem;
	padding-bottom:4rem;
	background-color: $base-bg-alt;
	position: relative;
	// box-shadow: 0 0.25rem 2.5rem -0.5rem #f5f5f5, 0 1.75rem 2rem -1rem #f2f2f2;
	// box-shadow: 0 2.5rem 2rem -2rem #eee, 0 -2.5rem 2rem -2rem #eee;
	@media #{$small} {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}
}

.post-title {
	text-align: center;
	font-size: 2.5rem;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
	margin-bottom: 2.5rem;
	font-weight: 900;

	a {
		color: $base-color;
		text-decoration: none;
		&:hover {
			color: $primary;
		}
	}
}

.post-excerpt {

}

.read-more {
	display: block;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	&:after {
		content: "→";
		display: inline-block;
		// transition: translate 300ms ease;
	}
	&:hover:after {
		transform: translateX(0.25rem);
	}
}

.post-meta {
	display: inline-block;
	margin: 0 0 1.5rem 0;
	width: 100%;
	font-family: $base-font-family;
	font-size: 0.875rem;
	color: $secondary;
	text-align: center;
	a {
		color: $secondary;
		margin-right: 0.25rem;
		display: inline-block;
		border: 1px solid $base-color;
		padding: rem-calc(2) rem-calc(8);
		text-decoration: none;
		color: $base-color;

		&:hover {
			background-color: #fdfdfd;
			// background-color: mix($tertiary, $secondary, 88%);

		}
	}
	time {
		margin-right: 0.5rem;

	}

}

.user-meta {
	.user-image {
	}

	.user-name {
	}

	.user-bio {
	}

}


.publish-meta {

	.publish-heading {
	}

	.publish-date {
	}

}


// Post Header

.post-header {
	margin-bottom: 4rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	a.blog-logo {
		display: block;
	}

	img {
		display: block;
		width: auto;
		margin: 0 auto;
	}
	
	.blog-title {
		
	}
}


// Post Content

.post-content {
	h1,h2,h3,h4,h5,h6 {
		letter-spacing: 0.034em;
		font-weight: 200;
	}

	pre > code {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

// Post Footer

.post-footer {
	position: relative;
	padding: 4rem 0;
	margin-left: auto;
	margin-right: auto;
	max-width: rem-calc(700);
	@include clearfix;

	// Author Meta
	.author {
		margin-bottom: 4rem;
		border: rem-calc(1) solid $base-color;
		border-radius: rem-calc(2);
		padding: 1.6rem 3%;
		margin-left: -3%;
		// background-color: mix($base-bg, $tertiary, 90%);
		width: 106%;

		img {
			display: block;
			width: rem-calc(60);
		}
		h4{
			margin: 0.125rem 0;
		}
		ul.author-meta {
			@include lining;
			padding: 0;
			margin: 0.125rem 0;
		}
		@media #{$small}{
			img {
				float: left;
				margin-right: 1rem;
			}
			h4 {
				color: $base-color;
				font-weight: 400;
				font-size: 1.25rem;
				letter-spacing: 0.038rem;
				line-height: rem-calc(60);
				margin: 0 12rem 0 0;
				float: left;
	
			}
			ul.author-meta {
				padding: 0;
				float: right;
				margin-top: 0;
				margin-bottom: 0;
				li {
						font-size: 1rem;
						line-height: rem-calc(60);
						color: $base-color;
					a {
						text-decoration: underline;
						&:hover {
							color: $primary;
						}
					}
				}
			}
			p {
				margin-left: rem-calc(60);
				padding-left: 1em;
			}
		}

	}

	// Share

	.share{
		text-align: center;
		h4 {
			margin: 0.5rem;
			font-weight: normal;
			line-height: 1;
			font-size: 1.25rem;
		}
		a {
			display: inline-block;
			margin: 0 0.5rem;
			color: $secondary;
			text-decoration: none;
			line-height: 3rem;
			font-size: 1.25rem;
			&:before {
				text-decoration: none;
			}

			&:hover {
				color: $primary;
			}
		}

		span {
			font-size: 0;
		}

	}

}

// ========= Multiple Posts =========

.archive-template,
.home-template {
	.site-head{
		.site-head-content {
			margin: 2rem 0 4rem 0;
	
			@media #{$small} {
				margin: 2rem 0 6rem 0;
			}
		}

		& + .content .post:first-child {
			margin-top: -4rem;
		}
	}

	.post {
		max-width: rem-calc(800);
		// margin-bottom: 2rem;
		// margin-top: 2rem;
		.post-header {
			margin-bottom: 0;
			.post-title {
				margin-top: 0;
			}
			a:first-child p {
				margin-top: 0;
				img {
					margin-bottom: 2.5rem;
				} 
			}
		}
		.post-excerpt {
			margin-bottom: 2.5rem;
		}
	}
}

// ========= Single Posts =========

// Post Header

.post-template {

	.site-head {
		background-color: transparent;
		.site-head-content {
			margin: 2rem 0 4rem 0;
			@media #{$small} {
				margin: 2rem 0 6rem 0;
			}
			.blog-logo {
				img {
					max-width: rem-calc(150);
				}
			}
		}

		& + .post {
			margin-top: -4rem;
		}
	}
	.post-header {
		margin-bottom: 0;
		background-color: $base-color;
		width: 80%;
		max-width: rem-calc(1200);
		margin-left: auto;
		margin-right: auto;
	}
	.post {
		margin-top: 0;
		h1.post-title {
			margin-top: 1.4em;
			margin-bottom: 1.4em;
		}
		.content {
		}	
	}
}


// ========= Tag Archive =========

.archive-template .site-head {
	height: auto;
}

.archive-template .site-head a {
	color: $base-bg;
}

.archive-template .blog-logo {
	display: block;
}

.tag-archive-header {
}

.archive-template .blog-title {
}

// ========= Third Party Elements =========

// Github

.gist table {
	margin: 0;
	font-size: 1.4rem;
}

.gist .line-number {
	min-width: 25px;
	font-size: 1.1rem;
}


// ========= Pagination =========

.pagination {
	position: relative;
	width: 80%;
	max-width: rem-calc(700);
	margin: 4rem auto;
	font-family: $header-font-family;
	color: $base-color;
	text-align: center;
}

.pagination a {
	color: $primary;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&.older-posts {
		&:after {
			content: "→";
			display: inline-block;
			// transition: translate 300ms ease;
		}
		&:hover:after {
			transform: translateX(0.25rem);
		}
	}
	&.newer-posts {
		&:before {
			content: "←";
			display: inline-block;
			// transition: translate 300ms ease;
		}
		&:hover:before {
			transform: translateX(-0.25rem);
		}
	}
}

.older-posts,
.newer-posts {
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	&:before,
	&:after {

		margin-left: 0.125rem;
		margin-right: 0.125rem;
	}

}

.page-number {
}


// ========= Global Footer Styles =========

.site-footer {
	position: relative;
	font-family: $header-font-family;
	font-size:0.75rem;
	color: $base-bg;
	background-color: $base-color;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: $secondary no-repeat center center;
	background-size: cover;

	a {
		color: $base-bg;
		text-decoration: none;
		
		&:hover {
			color: $primary;
		}
	}
	
	.subscribe {
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin-bottom: 0.25rem;

		&:before {
			text-decoration: none;
			padding-right: 0.5em;
			font-size: 0.7rem;
		}
		
		span {

		}
	}
	section {
		margin-bottom: 0.25rem;
	}
}


.poweredby {

	 .icon-ghost {
		font-weight: 700;
		text-decoration: none;
		
		&:before {
			font-size: 0.7rem;
			margin-right: 0.25em;
			margin-left: 0.25em;
		}
	}
}

// ========= Grid Styles =========

.site-head {
	h2.blog-description {
		max-width: rem-calc(800);
		margin-left: auto;
		margin-right: auto;
	}
}

.post {
	width: 90%;
	max-width: rem-calc(1200);
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5em;
	padding-right: 0.5em;

	@media #{$small} {
		width: 80%;
		padding-left: 0;
		padding-right: 0;
	}

	// Blocks
	
	p {
		max-width: rem-calc(700);
	}

	// Post Header

	.post-header {
		max-width: rem-calc(700);
	}

	// Post Content

	.post-content {

		& > p,
		& > blockquote > p,
		& > blockquote > cite,
		& > pre > code,
		& > ul,
		& > ol,
		& > h1,
		& > h2,
		& > h3,
		& > h4,
		& > h5,
		& > h6 {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: rem-calc(700);	
		}
		
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			padding: 0;
			&:last-child {
				padding-bottom: 1em;
			}
			&:first-child {
				padding-top: 1em;
			}
		}

		pre > code {
			padding-left: $indent-amount;
			padding-right: $indent-amount;
		}
	}

}

.post-template {


	.post {
		// Blocks
		
		p {
			max-width: rem-calc(800);
			@media #{$medium} {
				font-size: 1.125rem;
			}
		}

		// Post Header

		.post-header {
			max-width: rem-calc(800);
		}

		// Post Content

		.post-content {

			& > p,
			& > blockquote > p,
			& > blockquote > cite,
			& > pre > code,
			& > ul,
			& > ol,
			& > h1,
			& > h2,
			& > h3,
			& > h4,
			& > h5,
			& > h6 {
				max-width: rem-calc(800);	
			}
		}

	}

}

// ========= Media Quieries =========

@media #{$screen} {}

@media #{$small} {}

@media #{$medium} {}

@media #{$large} {}

@media #{$landscape} {}

@media #{$portrait} {}
